.card {
	
  display: inline-block;
  width: 30%;
  margin: 1%;
  padding: 1px;
  border: 1px solid lightblue;
}

.card-header-block {
  height: 80px;
  display: block;
  border-style: dotted;
  border-color: lightgray;
  border-width: 1px;
}
.card-header {
  text-align: center;
  font-size: 175%; 
}

.spec-header {
  font-size: 125%;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: justify;
  text-justify: inter-word;

}
.availability {
  background: grey;
  color: yellow; 
}

.details {
  font-weight: bold;
  padding-left:12px;
}

footer {
  font-size: 75%;
}
